body {
 /* font-family: 'Noto Serif JP', serif; */
 font-family: 'Noto Sans JP', sans-serif;
}
footer {
  background: #54585e;
  color: white;
}
footer a {
  color: rgba(255,255,255,0.7);
}
footer a:hover {
  color: rgba(255,255,255,0.7);
}
.footer-other {
  color: white;
}
iframe {
  width: 90%;
  height: 400px;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
#content {
  padding-top: 20%;
  padding-bottom: 20%;
}
#title{
  background-image:url("https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1335&q=80");
  height: 100%;
  background-size: cover;
  background-position: center;
}
.treatment-cards h5, .main-font-color {
  /* color: rgb(38,117,181); */
  color: rgb(0,72,157);
}

#title a:hover {
  text-decoration: none;
}
.accesshours {
  /* background: rgba(232,241,255,0.8); */
  background: rgba(0,72,157,0.1);
  padding-top:7%;
}
#map {
  height: 100%;
  width: 80%
}
.table-contents{
  /* background: #7cb1f2; */
  background: rgba(0,72,157);
  color: white;
}
footer hr {
  border-color: white;
}
.treatment-contents img{
  object-fit: contain;
  height: 500px;

}
.treatment-title{
  /* background: rgb(38,117,181); */
  background: rgb(0,72,157);
  color: white;
}
